* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  margin: 0 0 20px 0;
}
button {
  min-width: 100px;
  margin: 5px auto;
  appearance: none;
  border: 0;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #4676d7;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
button:hover {
  background: #1d49aa;
}
button:active {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.slider {
  border: 5px solid black;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  max-width: 70%;
  margin: 50px auto;
  padding: 20px 50px;
  background-color: rgb(201, 196, 196);
  text-align: center;
}
.slider-line {
  display: flex;
  transition: all ease 1s;
}
